div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

select {
    font-size: 30px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 600px;
}

input {
    font-size: 30px;
}

.forText {
    width: 510px;
}

#button {
    max-width: 80px;
    margin-left: 5px;
}